{% extends 'base/index.html' %}

{%block welcome%}
<h2></h2>
{%endblock%}
{%block detalles%}
<h2></h2>
{%endblock%}
{%block grafico%}
<h2></h2>
{%endblock%}
{%block notifications%}
<h2></h2>
{%endblock%}


{% block table %}
<div class="table-responsive">
                                    
    <!-- Tabla de Perifericos -->
    <table class="table">
        <thead>
        <tr>
            <th>Clasificación</th>
            <th>Conexión </th>
            <th>Capacidad</th>
            <th>Modelo</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% for alm in almacenamientos %}
            <tr>
                <td>{{ alm.tipo_alm }}</td>
                <td>{{ alm.interface_alm }}</td>
                <td>{{ alm.capacidad_alm }}</td>
                <td>{{ alm.modelo_alm }}</td>
                <td>
                    <!-- Iconos de opciones -->
                    <a href="{% url 'edit_almacenamiento' alm.id_almacenamiento %}" class="btn btn-warning btn-sm" title="Editar">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'list_almacenamiento' %}" class="btn btn-info btn-sm" title="Mostrar">
                        <i class="fas fa-eye"></i>
                    </a>
                    <form action="{% url 'del_almacenamiento' alm.id_almacenamiento %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm" title="Eliminar" onclick="return confirm('¿Estás seguro de que deseas eliminar este Almacenamiento?');">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Botones -->
    <div class="d-flex justify-content-between mt-4">
        <a href="{% url 'index' %}" class="btn btn-primary">
            <i class="fas fa-info-circle"></i> Volver
        </a> 
        <a href="{% url 'add_almacenamiento' %}" class="btn btn-success">
            <i class="fas fa-plus-circle"></i> Agregar 
        </a>
    </div>

</div>
{% endblock %}