{% extends 'base/index.html' %}

{% block welcome %}

{% endblock %}

{% block detalles %}
<h2></h2>
{% endblock %}

{% block grafico %}
<h2></h2>
{% endblock %}

{% block notifications %}
<h2></h2>
{% endblock %}
{% block table %}
<div class="table-responsive">
    <h2>Detalles de la Entidad: {{entidad.tipoEntidad}}-{{entidad.nombre}}</h2>
    <!-- Tabla de PCs -->
    <table class="table">
        <thead>
            <tr>
                <th>Nombre de la PC</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pc in pcs %}
                <tr>
                    <td>{{ pc.nombre_equipo }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="{% url 'expediente_pc' pc.id_pc %}" 
                                class="btn btn-info"
                                title="Generar reporte técnico actual">
                                <i class="fas fa-file-pdf"></i> Expediente
                            </a>
                            
                            {% if pc.expedientehistorico_set.count > 0 %}
                                <a href="{% url 'historial_expediente' pc.id_pc %}" 
                                    class="btn btn-secondary"
                                    title="Ver todas las versiones históricas">
                                    <i class="fas fa-history"></i> Historial
                                </a>
                            {% else %}
                                <span class="btn btn-outline-secondary disabled"
                                        title="No existen versiones anteriores">
                                    <i class="fas fa-clock"></i> Sin cambios
                                </span>
                            {% endif %}
                        </div>
                    </td>
                    
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No hay PCs asociadas a esta entidad.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Botones -->
    <div class="d-flex justify-content-between mt-4">
        <a href="{% url 'index' %}" class="btn btn-primary">
            <i class="fas fa-info-circle"></i> Volver
        </a> 
    </div>
</div>
{% endblock %}
