{% extends 'base/index.html' %}

{%block welcome%}
<h2></h2>
{%endblock%}
{%block detalles%}
<h2></h2>
{%endblock%}
{%block grafico%}
<h2></h2>
{%endblock%}
{%block notifications%}
<h2></h2>
{%endblock%}


{% block table %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Computador</th>
                <th>Fecha Pendiente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for pendiente in pendientes %}
        <tr>
            <td>{{ pendiente.id_pc }} </td>
            <td>{{ pendiente.fecha_pendiente }}</td>
            <td>
                <a href="{% url 'aplicar_cambios_pendientes_view' pendiente.id_pendiente %}" class="btn btn-primary">
                    <i class="fas fa-plus-circle"></i> Validar
                </a>
            </td>
                                        
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-between mt-4">
        <a href="{% url 'index' %}" class="btn btn-primary">
            <i class="fas fa-info-circle"></i> Volver
        </a> 
        
    </div>
</div>
{%endblock%}