{% extends 'base/index.html' %}

{% block welcome %}
<h2>Incidencias</h2>
{% endblock %}

{% block detalles %}
<h2></h2>
{% endblock %}

{% block grafico %}
<h2></h2>
{% endblock %}

{% block notifications %}
<h2></h2>
{% endblock %}

{% block table %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre de la Entidad</th>
                <th>Cantidad de Incidencias</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entidad in entidades %}
                <tr>
                    <td>{{ entidad.nombre }}</td>
                    <td>
                        {% if entidad.total_incidencias > 0 %}
                            {{ entidad.total_incidencias }}
                        {% else %}
                            No hay Incidencias asociadas
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'detalle_incidencias_entidad' entidad.nombre %}" 
                            class="btn btn-info btn-sm"
                            {% if entidad.total_incidencias == 0 %}disabled{% endif %}>
                                <i class="fas fa-search"></i> Ver Detalles
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="text-center">No hay entidades de tipo 'Otros' registradas</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="d-flex justify-content-between mt-4">
        <a href="{% url 'index' %}" class="btn btn-primary">
            <i class="fas fa-info-circle"></i> Volver
        </a> 
    </div>
</div>
{% endblock %}